@media only screen and (max-width: 1280px) {
    .home-primary--sub{
        font-size: 1rem;
    }

    .about__image img{
        width: 70%;
    }

    .about__image-p1{
        left: 2rem;
    }

    .about__image-p2{
        right: 2rem;
    }

    .secondary-heading{
        font-size: 0.95rem;
    }

    .third-heading{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 1100px) {
    .home-primary--sub{
        font-size: 0.9rem;
    }

    .about__image img{
        width: 75%;
    }

    .about__image-p1{
        left: 0;
    }

    .about__image-p2{
        right: 0;
    }

    .popular{
        max-width: 100%;
    }

    .popular-box:not(:last-child){
        margin-right: 2em;
    }

    .popular-box__content--info{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .popular-box__content--info span{
        font-size: 0.6rem;
    }

    .third-heading{
        font-size: 1rem;
    }

    .contact_us--icon li img{
        width: 1.2em;
        height: 1.2em;
    }
}

@media only screen and (max-width: 900px) {
    .about__text,
    .contact_us--form{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }

    .about__image{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    .about__image img{
        position: relative;
        width: 40%;
    }

    .about__image-p1{
        left: 3rem;
        top: 3rem;
    }

    .about__image-p2{
        right: 3rem;
    }

    .popular-box{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 60%;
                flex: 0 0 60%;
    }

    .popular-box:not(:last-child){
        margin: 0 0 2.5em 0;
    }

    .popular-box__content--info span{
        font-size: 0.8rem;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }

    table{
        font-size: 0.85rem;
    }

    .third-heading--main{
        font-size: 1rem;
    }

    .third-heading--sub{
        font-size: 0.8rem;
    }

    .contact_us--icon{
        margin: 20px auto;
        max-width: 50%;
    }

    .contact_us--icon li{
        padding: 1em;
    }
}

@media only screen and (max-width: 767px) {
  header.sticky nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(53, 101, 233, 0.98);
    -webkit-box-shadow: 0 4px 10px #444444;
    box-shadow: 0 4px 10px #444444;
    z-index: 9999;
  }

    .home-primary--main{
        font-size: 2rem;
    }

    .home-primary--sub{
        font-size: 0.7rem;
    }
    
    #menu-btn {
      display: block;
      position: relative;
      float: right;
    }

    .main-nav{ display: none; }
    .mobile-nav-icon{ display: inline-block; }

    #mainmenu{
        float: left;
        margin-top: 20px;
    }

    #mainmenu li{
        display: block;
        font-size: 100%;
        padding: 0.5 rem 0;
        width: 100%;
    }

    #mainmenu li a:link,
    #mainmenu li a:visited{
        display: block;
    }

}
@media only screen and (max-width: 600px) {
    .about__image img{
        width: 55%;
    }

    .popular-box{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }

    .team-box{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%;
    }

    .why p{
        max-width: 90%;
    }

    .contact_us--icon{
        max-width: 100%;
    }

    form label{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
                flex: 0 0 25%;
        max-width: 25%;
    }

    form input, form select, form textarea{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 75%;
                flex: 0 0 75%;
        max-width: 75%;
    }

    table{
        font-size: 0.6rem;
    }
}


@media only screen and (max-width: 480px) {
    body,
    html{
        font-size: 14px;
    }

    .home-primary--main{
        font-size: 1.5rem;
    }

    .home-primary--sub{
        font-size: 0.6rem;
    }

    table{
        font-size: 0.6rem;
    }

    .popular,
    .team,
    .why,
    .contact_us{
        padding: 2rem;
    }
}

@media only screen and (max-width: 375px) {
    .home-primary--main{
        font-size: 1rem;
    }

    .home-primary--sub{
        font-size: 0.55rem;
    }

    table{
        font-size: 0.6rem;
    }

    form input, form select, form textarea{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 65%;
                flex: 0 0 65%;
        max-width: 65%;
    }

    .popular-box{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 90%;
                flex: 0 0 90%;
    }

    .popular,
    .team,
    .why,
    .contact_us{
        padding: 1rem;
    }

    .about__image img{
        position: relative;
        width: 60%;
    }

    .team-box{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 80%;
                flex: 0 0 80%;
        max-width: 80%;
    }
}